{% extends "review/base.html" %}
{% load static %}

{% block content %}
<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">공연 데이터 대시보드</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">목록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <!-- 홈 -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'review_home' %}">홈</a>
                    </li>

                    <!-- 연극 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            연극
                        </a>
                        <ul class="dropdown-menu">
                            {% for concert in concerts %}
                                {% if concert.genre == "연극" %}
                                    <li><a class="dropdown-item" href="#">{{ concert.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <!-- 뮤지컬 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            뮤지컬
                        </a>
                        <ul class="dropdown-menu">
                            {% for concert in concerts %}
                                {% if concert.genre == "뮤지컬" %}
                                    <li><a class="dropdown-item" href="#">{{ concert.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <!-- 콘서트 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            콘서트
                        </a>
                        <ul class="dropdown-menu">
                            {% for concert in concerts %}
                                {% if concert.genre == "콘서트" %}
                                    <li><a class="dropdown-item" href="#">{{ concert.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <!-- 전시 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            전시
                        </a>
                        <ul class="dropdown-menu">
                            {% for concert in concerts %}
                                {% if concert.genre == "전시" %}
                                    <li><a class="dropdown-item" href="#">{{ concert.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
